<!doctype html>
	<!DOCTYPE html>
	<html>
	<head>
    <meta charset="utf-8">
	<title>Mywebsiteku | Membuat Template sederhana codeigniter</title>

    <link rel="stylesheet" type="text/css" href="<?php echo base_url()?>assets/css/model.css">
    </head>

    <body>
	<div id="wrapper">
	<header>
	      <hgroup>
	      <h1>MyWebsiteku.com</h1>
	      <h3>Membuat template sederhana codelgniter</h3>
	</hgroup>
	<nav>
		 <ul>
	<li><a href="<?php echo base_url().'index.php/web' ?>">Home<a></li>
	<li><a href="<?php echo base_url().'index.php/web/about'
	?>">About</a></li>
	    </ul>
	    </nav>
	    <div class="clear"></div>
	    </header><section>
	<h1><?php echo $judul ?><h1>
    <p>
    Hallo semua, saya sedang membuat template dengan menggunakan CodeIgniter (CI)
</p>
<P>
	Hallo everyone,I created a template using CodeIgniter (CI)
</P>
</section>
<footer>
<a href="#"MyWebsiteku</A>
</footer>
</div>
</body>
<html>
